<form #employeeForm="ngForm" (ngSubmit)="saveEmployee(employee)">
  <div class="panel panel-primary success">
    <div class="panel-heading">Create Employee</div>
    <div class="panel-body"></div>
      <div class="form-group" [class.has-error]="name.invalid && name.touched">
        <label for="name" class="control-label"> Name</label>
        <input id="name" required name="name" [(ngModel)]="employee.name" type="text" class="form-control"
          placeholder="Full Name" #name="ngModel">
          <span class="help-block" *ngIf="name.invalid && name.touched">Name is required.</span>

        <!-- <div>
          <table class="table table-sm">
            <tr>
              <td>
                touched: {{fullNameControl.touched}}
              </td>
              <td>
                touched: {{fullNameControl.untouched}}
              </td>
            </tr>
            <tr>
              <td>
                pristine: {{fullNameControl.pristine}}
              </td>
              <td>
                dirty: {{fullNameControl.dirty}}
              </td>
            </tr>
            <tr>
              <td>
                valid: {{fullNameControl.valid}}
              </td>
              <td>
                invalid: {{fullNameControl.invalid}}
              </td>
              </tr>

          </table>
        </div> -->
      </div>
      <div class="form-group" [class.has-error]="email.invalid && email.touched">
        <label for="email" class="control-label">Email</label>
        <input id="email" name="Email" [(ngModel)]="employee.email" 
        type="text" required class="form-control" placeholder="Email" #email="ngModel">
        <span class="help-block" *ngIf="email.invalid">Email is Required</span>
      </div>
      <div class="form-group" [class.has-error]="phoneNumber.invalid && phoneNumber.touched " >
        <label for="phoneNumber" class="control-label">Phone Number</label>
        <div >
          <input required class="form-control" id="phoneNumber" type="text" name="phoneNumber" [(ngModel)]="employee.phoneNumber" #phoneNumber="ngModel">
          <span class="help-block" *ngIf="phoneNumber.invalid && phoneNumber.touched">Phone Number is required</span>
        </div>
      </div>
      <div class="form-group">
        <label>Contact Preference</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" value="preferenceEmail" name="contactPreferece" [(ngModel)]="employee.preferenceEmail">
            Email
          </label>
          <label class="radio-inline">
            <input type="radio" name="contactPreferece" value="preferencePhone" [(ngModel)]="employee.preferencePhone">
            Phone Number
          </label>
        </div>
      </div>
      <div class="form-group">
        <label>Gender</label>
        <div class="form-control">
          <label class="radio-inline">
            <input type="radio" name="gender" value="male" [(ngModel)]="employee.gender">
            Male
          </label>
          <label class="radio-inline">
            <input type="radio" name="gender" value="Female" [(ngModel)]="employee.gender">
            Female
          </label>
        </div>
      </div>
      <div class="form-group" >
        <div class="form-control">
          <label class="checkbox-inline">
            <input  type="checkbox" value="isActive" [(ngModel)]="employee.isActive" name="isActive">
            Is Active
          </label>
        </div>
        <div class="form-group">
          <label for="department"> Department</label>
          <div>
            <select id="department" name="department" [(ngModel)]="employee.department" class="form-control">
              <!-- hardcoding option values
              <option value="1">Help Desk</option>
              <option value="2">IT</option>
              <option value="3">HR</option> -->
              <option *ngFor="let dept of departments" [value]="dept.id">{{dept.name}}</option>
            </select>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-xs-5">
          <label for="dateOfBirth">Date Of Birth</label>
          <div>
            <input type="text" bsDatepicker id="dateOfBirth" class="form-control" [bsConfig]="datePickerConfig"
              placement="right" name="dateOfBirth" [(ngModel)]="employee.dateOfBirth">
          </div>
        </div>
      </div>
      
      <div class="form-group">
        <label for="photoPath">Photo Path</label>
        <div>
          <input class="form-control" type="text" name="photoPath" id="photoPath" [(ngModel)]="employee.photoPath">
        </div>
        <div class="form-group">
          <button type="button" class="btn btn-primary" (click)="togglePreview()">{{previewPhoto ? "Hide" : "Show"}}
            Preview</button>
        </div>
      </div>
      <div form="form-group">
        <img [src]="photoPath" height="200" width="200" *ngIf="previewPhoto" />
      </div>
      <div class="panel-footer">
        <button type="submit" [disabled]="employeeForm.invalid" class="btn btn-primary">Submit </button>
      </div>
    
  </div>
</form>

Angular Generated Form Model : {{employeeForm.value| json}}
<br/>
<br/>
Our Angular Model: {{employee | json}}
